<section id="services" class="features page__features">

  <div class="features__wrapper">

    <h2 class="features__title features__title--style">
      Чем предпочитаете заняться?
    </h2>

    <div class="features__container">

      <div class="feature-item feature-item--style features__feature-item">

        <img src="../assets/img/GAME.png" alt="" class="feature-item__img">

        <div class="feature-item__content">

          <h3 class="feature-item__title feature-item__title--style">Развлечения</h3>

          <p class="par feature-item__text feature-item__text--style">
            Афиши ближайших мероприятий.
          </p>

        </div>

      </div>

      <div class="feature-item feature-item--style features__feature-item">

        <img src="../assets/img/HEART.png" alt="" class="feature-item__img">

        <div class="feature-item__content">

          <h3 class="feature-item__title feature-item__title--style">Всё для мероприятий</h3>

          <p class="par feature-item__text feature-item__text--style">
            Услуги для организовывания любых мероприятий.
          </p>

        </div>

      </div>

      <div class="feature-item feature-item--style features__feature-item">

        <img src="../assets/img/tv.png" alt="" class="feature-item__img">

        <div class="feature-item__content">

          <h3 class="feature-item__title feature-item__title--style">Культурный отдых</h3>

          <p class="par feature-item__text feature-item__text--style">
            Заведения, где можно провести свободное время не только в удовольствие, но и с пользой.
          </p>

        </div>

      </div>

      <div class="feature-item feature-item--style features__feature-item">

        <img src="../assets/img/pie.png" alt="" class="feature-item__img">

        <div class="feature-item__content">

          <h3 class="feature-item__title feature-item__title--style">Праздник для желудка</h3>

          <p class="par feature-item__text feature-item__text--style">
            Рестораны, кафе, закусочные.
          </p>

        </div>

      </div>

      <div class="feature-item feature-item--style features__feature-item">

        <img src="../assets/img/brash.png" alt="" class="feature-item__img">

        <div class="feature-item__content">

          <h3 class="feature-item__title feature-item__title--style">Конкурсы</h3>

          <p class="par feature-item__text feature-item__text--style">
            Художественные, спортивные, научные соревнования и конкурсы.
          </p>

        </div>

      </div>

      </div>

    </div>

</section>

