
<div class="container">
<div class="container1">
  <div class="box1">
    <div class="photo">
      <img src="../assets/img/kartinki24_ru_coffee_15.png" alt="">
    </div>
    <div class="content1">
      <b class="bold">Nedelka</b>

      <p>Nedelka находится в трех локациях: пр. Абая, 19, Шевченко, 18 и Желтоксан, 103. Славится своим дружелюбным персоналом, недорогими завтраками и постоянно меняющимся артом на досках. А еще, из личного наблюдения: сидите в Недельке сколько душе угодно, заказав при этом чашечку лимонада и вас не будут докучать назойливые официанты — идеальная атмосфера для учебы и переговоров. Особенно тепло и уютно не внутри, а на летней террасе, на которой правда редко бывают свободные места, особенно вечером в выходной день. Прогуливаясь по Абая после сумерек, невозможно не обратить внимание на огни Недельки, сопровождаемые бурными разговорами и смехом.

        Средний счет: 1500-3000 тг</p>
      <br>
      <b class="bold">Angel-in-us</b>

      <p>Кофейня Angel-in-us занимает второе место. Расположена в нескольких местах, но большую популярность у посетителей имеет кофейня на Абылай хана, 92а (уг. Кабанбай батыра). В Angel-in-us всегда царит обстановка непрерывающегося воркинга, ну и бесплатного вай-фая. Еще одним плюсом являются бесплатные лекции, мастер-классы и другие активности. Там вас ждут невероятно аппетитные и разнообразные завтраки, приятная музыка и вкусный кофе.

        Средний счет: 1500-3000 тг</p>
    </div>
  </div>
</div>
  <div class="clear"></div>
</div>
<div class="footer">
  <div class="a1">
    <a href="#">Terms and conditions</a>
    <a href="#">Privacy</a>
  </div>
  <h5>Follow</h5>
  <div class="a2">
    <a href="#"><img src="img/facebook.png" alt=""></a>
    <a href="#"><img src="img/twitter.png" alt=""></a>
    <a href="#"><img src="img/instagram.png" alt=""></a>
  </div>
</div>
