<div id="home" class="promo menu-link">

  <header class="header">

    <div class="logo header__logo">
      <img src="../assets/img/logo.png" alt="Escape" class="logo__img">
    </div>

    <nav class="menu">

      <a routerLink="/home" class=".menu__item menu__link">Home</a>
      <a routerLink="/services" class=".menu__item menu__link">Services</a>

    </nav>

  </header>


  <div class="container">

    <div class="promo-content">

      <p class="promo-content__text">
        Не знаете, чем заняться на досуге?
      </p>

      <h2 class="promo-content__title">
        Выберите занятие по душе!
      </h2>

      <a href="#" class="promo-content__link">Learn more</a>

    </div>

  </div>


</div>
