<div class="content">
  <div class="container-2">
    <!-- <h3>PHOTOGRAPHY</h3> -->
    <h1>The Perfect Weekend get away</h1>
    <p> Выходные, время, когда можно попрощаться с городским шумом и работой.У вас есть все шансы как следует отдохнуть, повеселиться и даже потратить время с пользой.У всех есть любимые места для прогулок. А как насчёт тех уголков города, в которых вы никогда не бывали? Выходные — это отличная возможность записаться на экскурсию, сходить в краеведческий музей или просто побродить по незнакомым улочкам.</p>
    <!-- <h4 class="content-h4">LEAVE A COMMENT</h4> -->
  </div>
  <div id="lifestyle" class="boxes">
    <div  class="box1">
      <img src="../assets/img/image-2.png" alt="">
      <h4 class="boxes-h4">LIFESTYLE</h4>
      <h2 class="box">More than just a music festival</h2>
      <p class="sec">Помимо отличной музыки, фестивали предоставляют отличную возможность познакомиться с новыми местами в расслабленной обстановке и увлекательной форме.</p>
    </div>
    <div class="box2">
      <img src="../assets/img/coffee.png" alt="">
      <h4 class="boxes-h4"><a href="lifestyle.html">LIFESTYLE</a></h4>
      <h2 class="box">Life tastes better with coffee</h2>
      <p class="sec">Кофейни Алматы! Где пить кофе? Какие кофейни лучшие? Грядущие экзамены, сдачи проектов и бесконечные встречи накрывают жителей Алматы бушующей волной. Предлагаем подборку заведений, которые сделают этот процесс менее стрессовым, более вкусным и приятным. </p>
    </div>
  </div>
  <div  class="boxes-2">
    <div id="photodiary" class="box3">
      <img src="../assets/img/tuman.png" alt="">
      <h4 class="boxes-h4">PHOTODIARY</h4>
      <h2 class="box">American dream</h2>
      <p class="sec">…американская мечта о стране, где жизнь каждого человека будет лучше, богаче и полнее, где у каждого будет возможность получить то, чего он заслуживает.</p>
    </div>
    <div class="box4">
      <img src="../assets/img/way.png" alt="">
      <h4 class="boxes-h4"><a href="photodiary.html">PHOTODIARY</a></h4>
      <h2 class="box">A day exploring the Kimasars</h2>
      <p class="sec">Кимасарское ущелье очень популярно среди Алматинцев: во первых – сюда легко добраться, на автобусе или на машине, во вторых – небольшая крутизна подъёма позволяет пройти его даже неподготовленным туристам, и, в третьих – маршрут доступен для прогулки практически в любое время года.</p>
    </div>
  </div>
</div>
<div class="clear"></div>

<!-- <div class="form">
  <h1>Sign up for our newsletter!</h1>
    <input type="text" name="login" id="login-field" placeholder="Enter a valid e-mail address">
    <a href=""><img src="img/send icon.png" alt=""></a>
</div> -->
<div class="clear"></div>

